.Card {
  width: 258px;
  height: 448px;
}

.Card-img-content {
  text-align: center;
}

.Card-img {
  width: 226px;
  height: 226px;
  padding-top: 16px;
}

.Card-content {
  display: flex;
  flex-direction: column;
}

.Span-price {
  font-size: 18px;
}
